/*? *** all tags *** */
*{
    box-sizing: border-box;
    margin: 0; padding: 0;
}

/*! --- root --- !*/
:root{
    --light-blue: linear-gradient(to bottom , #1e9aff,#119deeaa);
    --blue: linear-gradient(to bottom, #000d57, #250050);
    --white: #fff;
    --password-background: #4c537a77;
    --font-family:  'Courier New', Courier, monospace;
}

/** --- main tags --- **/
body{
    background-image: var(--light-blue);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
h3{
    font-family: var(--font-family);
    color: var(--white);
}

/** --- main section --- **/
.main__card{
    width: 40vw;
    height: 45vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: var(--blue);
    border-radius: 10px;
}
.password__section{
    padding: 5%;
    background: var(--password-background);
    border-radius: 5px;
    color: var(--white);
    text-transform: uppercase;
    font-family: var(--font-family);
}