/*? *** all tags *** */
*{
    box-sizing: border-box;
    margin: 0; padding: 0;
}

/*! --- root --- !*/
:root{
    --light-blue: #006dc7;
}

/** --- main tags --- **/
body{
    background: var(--light-blue);
}