/*? *** all tags *** */
*{
    box-sizing: border-box;
    margin: 0; padding: 0;
}

/*! --- root --- !*/
:root{
    --light-blue: linear-gradient(to bottom , #1e9aff,#119deeaa);
    --blue: linear-gradient(to bottom, #000d57, #250050);
    --white: #fff;
}

/** --- main tags --- **/
body{
    background-image: var(--light-blue);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
h3{
    font-family:'Courier New', Courier, monospace;
    color: var(--white);
}

/** --- main section --- **/
.main__card{
    width: 40vw;
    height: 45vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: var(--blue);
    border-radius: 10px;
}