/*? *** all tags *** */
*{
    box-sizing: border-box;
    margin: 0; padding: 0;
}

/*! --- root --- !*/
:root{
    --light-blue: linear-gradient(to bottom , #1e9aff,#119deeaa);
    --blue: linear-gradient(to bottom, #000d57, #250050);
    --white: #fff;
    --blue: #000d57;
    --password-background: #4c537a77;
    --button-background: linear-gradient(to right, #1e9aff, #902eff);
    --font-family:  'Courier New', Courier, monospace;
}

/** --- main tags --- **/
body{
    background-image: var(--light-blue);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
h3{
    font-family: var(--font-family);
    color: var(--white);
}

/** --- main section --- **/
.main__card{
    width: 40vw;
    height: 45vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: var(--blue);
    border-radius: 10px;
    box-shadow: 0px 2px 8px var(--blue);
}
.password__section{
    width: 80%;
    padding: 3%;
    display: flex;
    justify-content: center;
    background: var(--password-background);
    border-radius: 5px;
    color: var(--white);
    text-transform: uppercase;
    font-family: var(--font-family);
}
.generate__button{
    width: 80%;
}
.generate__button .btn{
    width: 100%;
    padding: 3%;
    border-radius: 5px;
    background: var(--button-background);
    color: var(--white);
    outline: none;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-size: small;
    font-weight: 800;
} 
.generate__button .btn:hover{
    background: linear-gradient(to left, #1e9aff, #902eff);
}
.generate__button .btn:active{
    box-shadow: 0px 1px 3px var(--white);
    /* transition: all .1s; */

}