/*? *** all tags *** */
*{
    box-sizing: border-box;
    margin: 0; padding: 0;
}

/*! --- root --- !*/
:root{
    --light-blue: linear-gradient(to bottom , #1e9aff,#119deeaa);
}

/** --- main tags --- **/
body{
    background-image: var(--light-blue);
}